@model IEnumerable<CNPM.Models.DANGKY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Điểm</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/admin/dangkies/create" class="btn btn-success">Nhập điểm</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            Họ tên sinh viên
                        </th>
                        <th>
                            Lớp học phần
                        </th>
                        <th>
                            Điểm chuyên cần
                        </th>
                        <th>
                            Điểm giữa kì
                        </th>
                        <th>
                            Điểm cuối kì
                        </th>
                        <th>Chức năng</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SINHVIEN.HoTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LOPHOCPHAN.TenLHP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiemChuyenCan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiemGiuaKy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiemCuoiKy)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "DangKies", new { MaSV = item.MaSV, MaLHP = item.MaLHP })" class="btn btn-sm btn-primary">Sửa</a>
                                <a href="@Url.Action("Details", "DangKies", new { MaSV = item.MaSV, MaLHP = item.MaLHP })" class="btn btn-sm btn-info">Chi tiết</a>
                                <a href="@Url.Action("Delete", "DangKies", new { MaSV = item.MaSV, MaLHP = item.MaLHP })" class="btn btn-sm btn-danger">Xóa</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</div>
